@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;500&family=Source+Code+Pro:wght@300&family=Source+Sans+Pro&family=Ubuntu+Mono&display=swap');

.App {
  font-family: 'Roboto Mono', monospace;
  background-color: black;
  color: white;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  overflow: auto;
}

.App h1{
}

input{
  border: none;
  outline: none;
  margin: 0;
  padding: 0vh, 0vh;
  background-color: transparent;
  color: white;
  width: 100%;
}

 .terminal{
   white-space: pre-line;
 }

 .terminal a{
   margin: 0;
   text-decoration: none;
   color: red;
 }

 .terminal p{
  margin: 0;
  text-decoration: none;
}